# An external Docker network for the Mitigation Manager container.
CONTAINER_NETWORK=default-network
# The port exposed by the Mitigation Manager.
PORT=8002

# The CSA platform hostname.
CSAP_HOST=resilmesh-sap-neo4j
# The CSA platform port.
CSAP_PORT=7687
# The username used to connect to the CSA platform.
CSAP_USERNAME=neo4j
# The password used to connect to the CSA platform.
CSAP_PASSWORD=supertestovaciheslo

# The NATS hostname.
NATS_HOST=resilmesh-ap-nats
# The NATS port.
NATS_PORT=4222
# The topic used by the Mitigation Manager to receive alerts.
NATS_TOPIC=alerts
