[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nats-py = "*"
sanic = {extras = ["ext"], version = "*"}
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
